@import 'antd/dist/antd.less';

.site-layout .site-layout-background {
  background: #fff;
}

.header {
  margin: 16px;
  height: 32px;
  font-size: 25px;
  color: white;
}

.stats {
  font-size: 20px !important;
  font-weight: 100 !important;
}

.head_line {
  font-size: 20px !important;
}

.head_line_con {
  background-color: #fff;
  margin: 0 12px 20px 0;
  text-align: center;
  border-radius: 4px;
}

.column_con {
  margin: 0 0 20px 0;
}

.card_element {
  margin-right: 5px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0 24px;
}

.trigger:hover {
  color: #7546C9;
}

.logo {
  padding: 0 20px;
  float: right;
}

.addr {
  width: 100px;
  margin-top: 2px;
}

