@import '~antd/dist/antd.less';

.site-layout .site-layout-background {
  background: #ffff;
}

.trigger {
  font-size: 18px;
  padding: 0 24px;
}

.trigger:hover {
  color: #7546C9;
}

.header {
  margin: 16px;
  height: 32px;
  font-size: 25px;
  color: white;
}

