@font-face {
  font-family: 'Apercu';
  src: local('Apercu'), url('./fonts/Apercu.ttf') format('truetype');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

